---
---
<div id="footer">
    <a href="https://ko-fi.com/sleeptwitch" target="_blank" rel="noreferrer">
        <div id="headerText">
            Support the developers first, but feel free to buy me a ko-fi. 
        </div>
        <img src="/images/kofi.svg" alt="ko-fi" id="kofiIcon"/>
    </a>
</div>

<style>
	#footer{
        background-color: #070821;
        height: 40px;        
        width: 100%;           
        color: #ABADED;     
        overflow: hidden;
		font-family: Maven Pro;
        font-size:medium;
        font-weight: 700;
		text-align: center;        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: sticky;
        top: 100vh;        
    }
    img {
        max-width: 32px;
    }

    a {		
		text-decoration: none;
        font-family: Maven Pro;
        font-size:medium;
        font-weight: 700;
		text-align: center;        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;  
        color: #ABADED; 	
        width: 100%;			
	}
</style>
